<!-- 配合navbar.css和navbar.html，实现简单的导航条效果 -->
<nav class="nav">
  <div class="nav__container">
    <ul class="nav__list">
      <li class="nav__item"><a href="{{ site.baseurl }}">首页</a></li>

      {% assign pages_list = site.pages %}
      {% for node in pages_list %}
        {% if node.title != null %}
          {% if node.layout == "page" %}
            <li class="nav__item"><a href="{{ node.url }}">{{ node.title }}</a></li>
          {% endif %}
        {% endif %}
      {% endfor %}
    </ul>
  </div>
</nav>