<script type="text/javascript" src="{{ site.baseurl }}public/js/jquery-3.1.1.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}public/js/blog-content-generator.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}public/js/jquery.nicescroll.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}public/js/jquery-scrollspy.js"></script>
<script type="text/javascript">
  // $("html").niceScroll({
  //   cursorcolor: "#515151",
  //   cursorwidth: "8px",
  //   autohidemode: false
  // });
  $(document).ready(function() {
      // 生成博客目录
      BlogDirectory.createBlogDirectory("post-content", "h3", "h4", 20);
      //自定义滚动条
      $("#sideBarContents").niceScroll({
        cursorcolor: "#ccc"
      });
  });
</script>