<div class="sidebar row" id="sidebar">
  <div class="sidebar-logo">
    <a href="/">
      <img class="logo-image" src="/images/logo.svg">
    </a>
  </div>
  <div class="sidebar-head">
    <h1 class="sidebar-title">
      {{ site.title }}
    </h1>
    <p class="sidebar-lead">{{ site.description }}</p>
  </div>
  <nav class="sidebar-nav">
    <li class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}"><a href="/">首页</a></li>

    {% comment %}
      The code below dynamically generates a sidebar nav of pages with
      `layout: page` in the front-matter. See readme for usage.
    {% endcomment %}

    {% assign pages_list = site.pages %}
    {% for node in pages_list %}
      {% if node.title != null %}
        {% if node.layout == "page" %}
          <li class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}"><a href="{{ node.url }}">{{ node.title }}</a></li>
        {% endif %}
      {% endif %}
    {% endfor %}
  </nav>

</div>

