/*配合navbar.css和navbar.html，实现简单的导航条效果*/
/* navbar */
.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: #268bd2;
  box-shadow: 0px 3px 8px rgba(70, 104, 129, 0.81);
  /*transform: translate3d(0,0,0);*/
  will-change: transform;
  transform: translateX(0);
  transition: transform .5s ease;
  z-index: 999;
}

.nav--off {
  transform: translateY(-57px);
}

.nav__container {
  position: relative;
  right: 5vw;
  top: 0;
}

.nav__list {
  text-align: right;
}
@media screen and (max-width: 550px) {
  .nav__list {
    text-align: center;
  }
}

.nav__item {
  display: inline-block;
  text-align: center;
  background: #ff7f27;
}

.nav__item a {
  width: 10vw;
  display: inline-block; /*为了扩大可点击区域*/
  color: #fff;
  background: #268bd2;
  line-height: 60px; /*行内元素的line-height作用强大*/
}
@media screen and (max-width: 550px) {
  .nav__item a {
  width: 20vw;
  }
}

.nav__item a:hover {
  transform: translateY(10px);
  transition: transform 0.5s ease;
  box-shadow: 0 -5px 5px #777;
}
