/*!
 作者：孤傲苍狼
 日期：2014-5-11
 来源：http://www.cnblogs.com/xdp-gacl/p/3718879.html
*/

#blogCatalog {
    margin: 2rem 0;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    width: auto;
    height: auto;
}

@media screen and (min-width: 1280px) {
    #blogCatalog {
        position: fixed;
        top: 68px;
        right: 10px;
        margin: 0;
    }
}

#blogCatalogTab {
    border-left: 5px solid #ff7f27;
    padding-left: 0.5rem;
}

@media screen and (min-width: 1280px) {
    #blogCatalogTab {
        border-right: 5px solid #ff7f27;
        border-left: none;
        padding-right: 0.5rem;
        padding-left: 0;
    }
}

#blogCatalogContents {
    padding: 0.5rem;
    background: #d1edff;
}

@media screen and (min-width: 1280px) {
    #blogCatalogContents {
        position: fixed;
        right: 8px;
        padding: 0 0.5rem 0 0;
        border-left: 5px solid #268bd2;
        width: 200px;
        max-height: 460px;
        overflow: auto;
        overflow-x: hidden !important;
        background: #fff;
    }
}

#blogCatalogContents dl {
    margin: 0;
    padding: 0;
}

#blogCatalogContents dt {
    margin-top: 5px;
    margin-left: 5px;
}

#blogCatalogContents dd,
dt {
    cursor: pointer;
}

#blogCatalogContents dd:hover,
dt:hover {
    color: #A7995A;
}
