---
layout: post-template
---

<div class="post" id="post">
  <div class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <div class="post-date">日期：{{ page.date | date_to_string }}</div>
    <div class="post-category">标签：
      {% for category in page.categories %}
        <a href="{{ site.baseurl | append: '2_category.html#' | append: category }}">{{ category }} </a>
      {% endfor %}
    </div>
  </div>
  <div class="post-content" id="post-content">
    {{ content }}
  </div>
</div>

<div class="related">
  {% if content and page.related %}
    <h2>相关文章</h2>
    <ul class="related-posts">
      {% for post in site.posts %}
        {% if page.related contains post.title %}
          <li>
            <h3>
              <a href="{{ post.url }}">
                {{ post.title }}
                <small>{{ post.date | date_to_string }}</small>
              </a>
            </h3>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  {% endif %}
</div>

<section class="discussion">
  <h2>评论</h2>
  <!-- 2017-10-29 友言评论 -->
  <!-- UY BEGIN -->
  <div id="uyan_frame"></div>
  <script type="text/javascript" src="http://v2.uyan.cc/code/uyan.js?uid=2147636" async></script>
  <!-- UY END -->
</section>